.profile__data-conteiner {
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 400px) {
  .profile__data-conteiner {
    margin: 0 0 40px;
  }
}