@keyframes move {
  0% {
    right: -300px;
  }
  100% {
    right: 0;
  }
}

.navigation__container {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 520px;
  height: 100%;
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation__container {  
  animation: move .3s linear 1 forwards;
}
