.movies-card__element {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-areas: 
  "image image"
  "title duration";
  cursor: pointer;
}

.movies-card__element:hover .movies-card__icon {
  opacity: 1;
}

.movies-card__icon_name_save.movies-card__icon:hover {
  opacity: .7;
}

.movies-card__icon_name_delete.movies-card__icon:hover {
  opacity: .7;
}