@import url(./__title/error__title.css);
@import url(./__subtitle/error__subtitle.css);
@import url(./__button-back/error__button-back.css);

.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
}