.timeline-project {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-items: stretch;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media all and (max-width: 400px) {
  .timeline-project {
    grid-template-columns: 1fr 3fr;
  }
}