.timeline-project__title {
  margin: 0;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media all and (max-width: 500px) {
  .timeline-project__title {
    font-size: 11px;
    line-height: 13px;
  }
}