@import url(./__title/movies-card__title.css);
@import url(./__image/movies-card__image.css);
@import url(./__duration/movies-card__duration.css);
@import url(./__saved-icon/movies-card__saved-icon.css);
@import url(./__save-icon/movies-card__save-icon.css);
@import url(./__delete-icon/movies-card__delete-icon.css);

.movies-card {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-areas: 
  "image image"
  "title duration";
}